  input{
    margin-bottom: 5px;
    height: 20px;
    border: 1px solid #d8d8d8;
    padding: 3px;
  }
  
  textarea{
    border: 1px solid #d8d8d8;
    padding: 3px;
  }
    
  .error{
    margin-left: 5px;
    font-size: 13px;
    color: red;
  }